@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f4f4f4;
  color: #131414;
}

.header-p,
#name1,
#name2,
#name3,
#name4,
#name5,
#name6 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-size: 18px;
}

#title1,
#title2,
#title3,
#title4,
#title5,
#title6 {
  font-family: "PT Serif", serif !important;
  font-size: x-small;
}

img {
  box-shadow: -2px 2px 10px #4e4c4c;
}

.dark-mode {
  background-color: #131414 !important;
  color: #f4f4f4 !important;
}

.headers {
  display: grid;
  grid-template-columns: 30rem 10rem 35rem;
  height: 10rem;
  line-height: 1.5rem;
}

h1 {
  grid-area: 1/1/span 1/span 1;
  margin-top: 5rem;
  padding-top: 2rem;
  text-align: end;
}

h3 {
  font-weight: 900;
}

.header-p {
  grid-area: 1/3/span 1/span 1;
  margin-top: 2rem;
}

@media screen and (max-width: 1250px) {
  .headers {
    display: block;
    flex-wrap: wrap;
    height: 10rem;
    line-height: 1.5rem;
    margin: 4rem;
  }

  h1 {
    margin-top: 1.5rem;
    text-align: center;
  }

  h3 {
    font-weight: 900;
  }

  .header-p {
    margin-top: 0.11rem;
    margin-left: 5rem;
  }
}
.allpics {
  display: grid;
  grid-template-columns: 8rem 18rem 4rem 18rem 4rem 18rem 4rem;
  grid-template-rows: 27rem 2rem 4rem 27rem 2rem 4rem;
  font-size: small;
  grid-gap: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 4rem 6rem;
  grid-area: 1/1/span 1/span 3;
}

#pic-1 {
  grid-area: 1/2/span 1/span 1;
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 0.3rem;
  float: left;
}

#pic-2 {
  grid-area: 1/4/span 1/span 1;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  border-radius: 0.3rem;
  float: left;
}

#pic-3 {
  grid-area: 1/6/span 1/span 1;
  width: 100%;
  height: auto;
  max-width: 300px;
  border-radius: 0.3rem;
  float: left;
}

#pic-4 {
  grid-area: 4/2/span 1/span 1;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

#pic-5 {
  grid-area: 4/4/span 1/span 1;
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  border-radius: 0.3rem;
}

#pic-6 {
  grid-area: 4/6/span 1/span 1;
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
}

#name1 {
  grid-area: 2/2/span 1/span 1;
  position: relative;
}

#name2 {
  grid-area: 3/4/span 1/span 1;
  position: relative;
  padding-top: 1rem;
}

#name3 {
  grid-area: 2/6/span 1/span 1;
  position: relative;
}

#name4 {
  grid-area: 5/2/span 1/span 1;
  position: relative;
}

#name5 {
  grid-area: 5/4/span 1/span 1;
  position: relative;
  padding-top: 5rem;
}

#name6 {
  grid-area: 5/6/span 1/span 1;
  position: relative;
}

#title1 {
  grid-area: 1/3/span 1/span 1;
  text-transform: uppercase;
  justify-self: start;
  writing-mode: vertical-rl;
}

#title2 {
  grid-area: 1/5/span 1/span 1;
  margin-top: 5rem;
  justify-self: start;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

#title3 {
  grid-area: 1/7/span 1/span 1;
  align-self: start;
  justify-self: start;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

#title4 {
  grid-area: 4/3/span 1/span 1;
  align-self: start;
  justify-self: start;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

#title5 {
  grid-area: 4/5/span 1/span 1;
  margin-top: 5rem;
  justify-self: start;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

#title6 {
  grid-area: 4/7/span 1/span 1;
  align-self: start;
  justify-self: start;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

@media screen and (min-width: 1001px) and (max-width: 1250px) {
  .allpics {
    display: grid;
    grid-template-columns: 8rem 18rem 4rem 18rem 4rem;
    grid-template-rows: 27rem 2rem 4rem 27rem 2rem 4rem 27rem 2rem 4rem;
    font-size: small;
    grid-gap: 1rem;
  }

  #pic-3 {
    grid-area: 4/2/span 1/span 1;
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 0.3rem;
    float: left;
  }

  #title3 {
    grid-area: 4/3/span 1/span 1;
    align-self: start;
    justify-self: start;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  #name3 {
    grid-area: 5/2/span 1/span 1;
    position: relative;
  }

  #pic-4 {
    grid-area: 4/4/span 1/span 1;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    border-radius: 0.3rem;
  }

  #title4 {
    grid-area: 4/5/span 1/span 1;
    margin-top: 5rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  #name4 {
    grid-area: 6/4/span 1/span 1;
    position: relative;
    margin-top: 1rem;
  }

  #pic-5 {
    grid-area: 7/2/span 1/span 1;
    width: 100%;
    height: auto;
    margin-top: unset;
    border-radius: 0.3rem;
  }

  #title5 {
    grid-area: 7/3/span 1/span 1;
    align-self: start;
    justify-self: start;
    margin-top: unset;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  #name5 {
    grid-area: 8/2/span 1/span 1;
    position: relative;
    padding-top: unset;
  }

  #pic-6 {
    grid-area: 7/4/span 1/span 1;
    width: 100%;
    height: auto;
    margin-top: 5rem;
    border-radius: 0.3rem;
  }

  #title6 {
    grid-area: 7/5/span 1/span 1;
    margin-top: 5rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  #name6 {
    grid-area: 8/4/span 1/span 1;
    position: relative;
    margin-top: 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .allpics {
    display: grid;
    grid-template-columns: 8rem 18rem 4rem;
    grid-template-rows: 27rem 2rem 4rem 27rem 2rem 4rem 27rem 2rem 4rem 27rem 2rem 4rem 27rem 2rem 4rem 27rem 2rem 4rem;
    font-size: small;
    grid-gap: 1rem;
  }

  #pic-2 {
    grid-area: 3/2/span 1/span 1;
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
  }

  #title2 {
    grid-area: 3/3/span 1/span 1;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    white-space: nowrap;
  }

  #name2 {
    grid-area: 5/2/span 1/span 1;
    position: relative;
  }

  #pic-3 {
    grid-area: 7/2/span 1/span 1;
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 0.3rem;
    float: left;
  }

  #title3 {
    grid-area: 7/3/span 1/span 1;
    align-self: start;
    justify-self: start;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  #name3 {
    grid-area: 8/2/span 1/span 1;
    position: relative;
  }

  #pic-4 {
    grid-area: 9/2/span 1/span 1;
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    margin-top: 5rem;
  }

  #title4 {
    grid-area: 9/3/span 1/span 1;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    margin-top: 5rem;
    white-space: nowrap;
  }

  #name4 {
    grid-area: 11/2/span 1/span 1;
    position: relative;
  }

  #pic-5 {
    grid-area: 12/2/span 1/span 1;
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    margin-top: 5rem;
  }

  #title5 {
    grid-area: 12/3/span 1/span 1;
    align-self: start;
    justify-self: start;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    margin-top: 5rem;
  }

  #name5 {
    grid-area: 14/2/span 1/span 1;
    position: relative;
    padding-top: unset;
  }

  #pic-6 {
    grid-area: 16/2/span 1/span 1;
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
  }

  #title6 {
    grid-area: 16/3/span 1/span 1;
    text-transform: uppercase;
    writing-mode: vertical-rl;
  }

  #name6 {
    grid-area: 17/2/span 1/span 1;
    position: relative;
  }
}
.form-switch {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #4BD763;
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
​ ​ ​ html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
